db.sqlite3
racecard/static/blogimage
media/racecard/images
# Ignore entire racecard data directory (anchor to repo root)
# ignore directory and all recursive contents
/racecard/data/
/racecard/data/**
racecard/static/

# optional: keep a .gitkeep if you want the empty folder in repo
#!/racecard/data/.gitkeep
racecard/data/
racecard/static/
