{% extends "master.html" %} {% block title %} Monkey Forecast Using Machine Learning {% endblock %} 
{% load i18n %}
{% load static %}

{% block content %}
<!-- blog/templates/blog/recent_article.html -->
<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">
    <!-- Header -->
    <header class="w3-padding-64 w3-center w3-padding-32"> 
      <h1>{% trans 'This Site is For Machine Learning application in Real Life' %}</h1>
    </header>
    <!-- Grid -->
    <div class="w3-row">
    <!-- Blog entries -->
    <div class="w3-col l8 s12">
      <!-- Blog entry -->
      {% for article in recent_articles %}
      <div class="w3-card-4 w3-margin w3-white">
        <div class="w3-container">
            <h3><b>{{ article.title }}</b></h3>
            <div class="w3-row">
                <div class="w3-col m5">
                    <img src="{% static article.image %}" alt="Nature" style="width:100%">
                </div>
                <div class="w3-col m5 w3-padding">
                    <h5><span class="w3-opacity">{{ article.pub_date }}</span></h5>
                </div>
            </div>
                  <p>{{ article.content | linebreaks  }}</p>
                    <div class="w3-row">
                        <div class="w3-col m8 s12">
                            <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
                        </div>
                    </div>
            </div>
        </div>
      {% endfor %}
      {% with id=request.GET.id|default:"1" %}
      {% if id %}
      <div class="w3-container w3-padding-16" style="text-align: center;">
        {% if id|add:"-1" > 0 %}
            <a href="?id={{ id|add:'-1' }}"><button class="w3-button w3-black w3-padding-large w3-margin-bottom">Previous</button></a>
        {% else %}
            <a href="?id=1"><button class="w3-button w3-black w3-padding-large w3-margin-bottom">{% trans 'Previous' %}</button></a>
        {% endif %}
        <a href="?id={{ id|add:'1' }}"><button class="w3-button w3-black w3-padding-large w3-margin-bottom">{% trans 'Next' %} »</button></a>
    </div>
      {% endif %}
    {% endwith %}
    </div>
    
    <!-- Introduction menu -->
    <div class="w3-col l4">
      <!-- About Card -->
      <div class="w3-card w3-margin w3-margin-top">
     
      <img src="{% static 'monkeyLogo1.jpeg' %}" class="w3-card-4 w3-circle w3-right w3-margin" style="width: 30%">
     
      <div class="w3-container w3-white">
          <h4><b>About Monkey</b></h4>
          <p>猴子相信事實和科學是做決定和預測的最好方法。這就是為什麼它創建了這個網站，並做不同種類的機器學習預測，並驗證準確性。雖然很多人說賽馬是不可預測和隨機的，但我想從這個資料開始，看看應用機器學習可以達到什麼樣的準確度。</p>
        </div>
      </div><hr>
      
      <!-- Posts -->
      <div class="w3-card w3-margin">
        <div class="w3-container w3-padding">
          <h4>Popular Posts</h4>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">
          <ul>
            {% for article in other_articles %}
            <li><a href="?id={{ forloop.counter|add:1 }}">{{ article.title }}</a></li>
            {% endfor %}
        </ul>
      </div>
      <hr> 
     
    <!-- Footer -->
{% endblock %}
