{% extends "master.html" %} {% block title %} Horse Racing Prediction By Machine Learning {% endblock %} 
{% block content %}
{% load i18n %}
<style>
    body {
        font-family: "Arial", sans-serif;
    }

    .login-container {
        max-width: 400px;
        margin: auto;
        margin-top: 50px;
    }

    .login-form {
        padding: 16px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .login-form label, .login-form input {
        width: 100%;
        margin-bottom: 16px;
        display: block;
    }

    .login-form button {
        background-color: #4CAF50;
        color: #fff;
        padding: 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .login-form button:hover {
        background-color: #45a049;
    }
</style>

<div class="w3-container w3-card-4 login-container w3-padding-64 w3-section w3-margin-top" style="max-width: 400px;">
    <h2 class="w3-center">Login</h2>
    <form method="post" class="w3-container login-form">
        <div class="w3-section">
            {% csrf_token %}
            <label class="w3-input w3-label w3-margin-bottom" for="id_username">Username:</label>
            <input class="w3-input w3-border" type="text" name="username" id="id_username" required>
        </div>
        <div class="w3-section">
            <label class="w3-input w3-label w3-margin-bottom" for="id_password">Password:</label>
            <input class="w3-input w3-border" type="password" name="password" id="id_password" required>
        </div>
        <div class="w3-section">
            <button type="submit" class="w3-button w3-block w3-green w3-section w3-padding">Login</button>
        </div>
    </form>
    <div class="w3-section">
        <!-- Add a button for new user registration -->
        <a href="{% url 'register' %}" class="w3-button w3-block w3-blue w3-section w3-padding">Register</a>
    </div>
</div>
</div>

{% endblock %}