{% extends "master.html" %} {% block title %} Cannot Find The Page {% endblock %} 
{% load i18n %}
{% load static %}
{% block content %}


<div class="w3-container">
    <h2>Ops</h2>
    <p>Wrap any of the w3-card classes around the image to display it as a card:</p>
    <div class="w3-card" style="width:30%">
      <img src= "{% static 'Monkey404.jpeg' %}" alt="404" style="width:100%">
      <div class="w3-container">
        <h4><b>{% trans "We can find the page" %}</b></h4>
      </div>
    </div>
</div>



{% endblock %}