{% extends "master.html" %} {% block title %} My Tennis Club - List of all
members {% endblock %} 
{% load static %}
{% block content %}
<!-- Banner Image -->
<div class="w3-display-container w3-padding-top-48">
  <img
    src="{% static 'HorseHeadBanner2.jpeg' %}"
    alt="The Machine Learning Horse"
    width="100%"
  />
  <div class="w3-display-bottomleft w3-padding w3-opacity">
    <h1>Le Catering</h1>
  </div>
</div>
<!-- About -->
<div id="about" class="w3-padding-top-64">
  <div class="w3-row">
    <div class="w3-half w3-padding-large w3-hide-small">
      <img
        src="{% static 'HorseMachineLearningSquare.jpeg' %}"
        class="w3-round w3-image w3-opacity-min"
        alt="Table"
        style="width: 100%"
      />
    </div>

    <div class="w3-half w3-padding-large">
      <h1 class="w3-center">About Monkey Forecast</h1>
      <br />
      <h5 class="w3-center">Passionate in Machine Learning</h5>
      <p class="w3-large">
        Monkey is a data scientist who believes that facts and science are the best ways to make decisions and forecasts. That’s why it created this website and used horse racing data to predict the results. Although many people say that horse racing is unpredictable and random, Monkey would like to see what kind of accuracy can be achieved by applying machine learning.
      </p>
    
    </div>
  </div>
</div>
{% endblock %}
