{% extends "master.html" %} {% block title %} My Tennis Club - List of all
members {% endblock %} 
{% load i18n %}
{% load static %}
{% block content %}

</style>
   
<div class="w3-container w3-card-4 w3-light-grey w3-section w3-padding-64" style="max-width: 600px; margin:auto;">
    <h2>Contact Me</h2>
    <p>If you have any questions or need to contact me</p>
    <p> 
    <a href="mailto:thinking.monkey@gmail.com"><i class="fa fa-lg fa-envelope" aria-hidden="true">&nbsp thinking.monkey@gmail.com</i></a>
    </p>
    <p>
    <a href="https://www.facebook.com/monk.forecast" target="_blank"><i class="fa fa-lg fa-facebook-square" aria-hidden="true">&nbsp Monkeyforecast</i>
    </a>
    </p>
</div>
</div>
{% endblock %}