{% extends "master.html" %} {% block title %} Contact Monkey {% endblock %} 
{% load i18n %}
{% load static %}
{% block content %}


   
<div class="w3-container w3-card-4 w3-light-grey w3-section w3-padding-64" style="max-width: 600px; margin:auto;">
    <h2>Contact Me</h2>
    <p>If you have any questions or need to contact me</p>
    <p> 
    <a href="mailto:thinking.monkey@gmail.com"><i class="fa-solid fa-envelope"></i>&nbsp thinking.monkey@gmail.com</a>
    </p>
    <p>
    <a href="https://www.facebook.com/monk.forecast" target="_blank"><i class="fa-brands fa-facebook"></i>&nbsp Monkeyforecast
    </a>
    </p>
  
      </div>
    
</div>

<div class="w3-center">
    <button class="w3-button w3-sand w3-round w3-ripple w3-large" ><a href="https://glaultoa.com/4/7158508"><i class="fa-solid fa-heart" style="color: #f01000;"></i>{% trans "Support Monkey" %}</h5></a>
  </button>
</div>


{% endblock %}