{% extends "master.html" %} {% block title %} Horse Racing Prediction By Machine Learning {% endblock %} {% block content %}
{% load i18n %}
Total Race = {{current_race.iloc.2.8}}
<div class="w3-container w3-card-4 w3-padding-64 w3-section w3-margin-top"></div>
  <div>
    <h2>{% trans "Current Race" %}</h2>
        <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '1' %}w3-red{% else %}w3-black{% endif %}" href="/racecard/?id=1">1</a>
        <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '2' %}w3-red{% else %}w3-black{% endif %}" href="/racecard/?id=2">2</a>
        <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '3' %}w3-red{% else %}w3-black{% endif %}" href="/racecard/?id=3">3</a>
        <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '4' %}w3-red{% else %}w3-black{% endif %}" href="/racecard/?id=4">4</a>
        <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '5' %}w3-red{% else %}w3-black{% endif %}" href="/racecard/?id=5">5</a>
        <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '6' %}w3-red{% else %}w3-black{% endif %}" href="/racecard/?id=6">6</a>
        <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '7' %}w3-red{% else %}w3-black{% endif %}" href="/racecard/?id=7">7</a>
        <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '8' %}w3-red{% else %}w3-black{% endif %}" href="/racecard/?id=8">8</a>
        {% if current_race.iloc.2.5 > 8 %}
        <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '9' %}w3-red{% else %}w3-black{% endif %}" href="/racecard/?id=9">9</a>
        {% if current_race.iloc.2.5 > 9 %}
          <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '10' %}w3-red{% else %}w3-black{% endif %}" href="/racecard/?id=10">10</a>
          {% if current_race.iloc.2.5 > 10 %}
          <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '11' %}w3-red{% else %}w3-black{% endif %}" href="/racecard/?id=11">11</a>
          {% endif %}
        {% endif %}
      {% endif %}
  </div>

<div class="w3-row">
  <div class="w3-col s6 w3-padding-top-48 ">
    <table class="w3-table-all w3-card-4">
      <th>No</th>
      <th>{% trans "Horse Name" %}</th>
      <th>{% trans "Jockey" %}</th>
      <th>{% trans "Draw" %}</th>
      {% for i, r in current_race.iterrows %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{% trans r.HorseName %}</td>
        <td>{% trans r.Jockey  %}</td>
        <td>{{ r.Draw }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="w3-col s6 w3-padding-top-48">
   <!-- About
    <div class="w3-card-4" style="width:50%">
      <header class="w3-container w3-blue" >
        <h2>Naive Bayes Win <span class="w3-tag w3-xlarge w3-padding w3-red" style="transform:rotate(-5deg)">
          Accuracy 42%
          </span></h2>
      </header>
      <div class="w3-container">
        <p>{{win_pred.iloc.0.1}} &nbsp {{win_pred.iloc.0.2|floatformat:2}}</p>
        <p>{{win_pred.iloc.1.1}} &nbsp {{win_pred.iloc.1.2|floatformat:2}}</p>

      </div>
      
      <footer class="w3-container w3-blue">
        <h5>Footer</h5>
      </footer>
      </div>
      -->
    <div class="w3-card-4 w3-margin" style="width:50%" >
      <header class="w3-container w3-green" >
        <h2>Naive {% trans "Place" %} <span class="w3-tag w3-xlarge w3-padding w3-red" style="transform:rotate(-5deg)">
          Accuracy 42%
          </span></h2>
      </header>
      
      <div class="w3-container">
        <p>{% trans prediction.iloc.0.1 %} &nbsp {{prediction.iloc.0.2|floatformat:2}}</p>
        <p>{% trans prediction.iloc.1.1 %} &nbsp {{prediction.iloc.1.2|floatformat:2}}</p>
        <p>{% trans prediction.iloc.2.1 %} &nbsp {{prediction.iloc.2.2|floatformat:2}}</p>
        <p>{% trans prediction.iloc.3.1 %} &nbsp {{prediction.iloc.3.2|floatformat:2}}</p>
      </div>
      
      <footer class="w3-container w3-green">
        <h5>Footer</h5>
      </footer>
      
      </div>
</div>
</div>
{% endblock %}
