{% extends "master.html" %} {% block title %} Horse Racing Prediction By Machine Learning {% endblock %} {% block content %}
{% load i18n %}
{% load static %}

<script>
  function updateSelection(checkbox) {
      var selectedCheckboxes = document.querySelectorAll('input[name="selected_horses"]:checked');

      if (selectedCheckboxes.length > 3) {
          checkbox.checked = false; // Uncheck the current checkbox if more than 3 are selected
      }

      // Disable unchecked checkboxes if 3 are selected
      var uncheckedCheckboxes = document.querySelectorAll('input[name="selected_horses"]:not(:checked)');
      uncheckedCheckboxes.forEach(function (uncheckedCheckbox) {
          uncheckedCheckbox.disabled = selectedCheckboxes.length >= 3;
      });
  }
</script>


<div class="w3-container w3-padding-64"></div>
<div class="w3-margin ">
    <h2>{% trans "Current Race"  %} {{ current_race.iloc.2.1}} {{ currentDatetime }}</h2>
        <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '1' %}w3-red{% else %}w3-black{% endif %}" href="/racecard/?id=1">1</a>
        <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '2' %}w3-red{% else %}w3-black{% endif %}" href="/racecard/?id=2">2</a>
        <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '3' %}w3-red{% else %}w3-black{% endif %}" href="/racecard/?id=3">3</a>
        <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '4' %}w3-red{% else %}w3-black{% endif %}" href="/racecard/?id=4">4</a>
        <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '5' %}w3-red{% else %}w3-black{% endif %}" href="/racecard/?id=5">5</a>
        <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '6' %}w3-red{% else %}w3-black{% endif %}" href="/racecard/?id=6">6</a>
        <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '7' %}w3-red{% else %}w3-black{% endif %}" href="/racecard/?id=7">7</a>
        <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '8' %}w3-red{% else %}w3-black{% endif %}" href="/racecard/?id=8">8</a>
        {% if current_race.iloc.2.8 > 8 %}
          <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '9' %}w3-red{% else %}w3-black{% endif %}" href="/racecard/?id=9">9</a>
          {% if current_race.iloc.2.8 > 9 %}
            <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '10' %}w3-red{% else %}w3-black{% endif %}" href="/racecard/?id=10">10</a>
            {% if current_race.iloc.2.8 > 10 %}
              <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '11' %}w3-red{% else %}w3-black{% endif %}" href="/racecard/?id=11">11</a>
            {% endif %}
          {% endif %}
        {% endif %}
  </div>

 
<div class="w3-row">
  <div class="w3-col w3-padding-top-32 w3-half w3-responsive">
    
    <table class="w3-table-all w3-card-4 w3-margin">
      <thead>
      <tr class="w3-light-blue">
        <th>No</th>
        <th>{% trans "Horse Name" %}</th>
        <th>{% trans "Jockey" %}</th>
        <th>{% trans "Draw" %}</th>
      </tr>
      </thead>
      {% for i, r in current_race.iterrows %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{% trans r.HorseName %}</td>
        <td>{% trans r.Jockey  %}</td>
        <td>{{ r.Draw }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <div class="w3-col w3-padding-top-32 w3-half w3-responsive" >

        <div class="w3-row-padding">
        {% for user_data in complete_tips_by_user %} <!-- Loop over the zipped data -->
          {% cycle 'w3-blue' 'w3-green' 'w3-yellow' as color silent %}
              <div class="w3-col w3-card-4 w3-third w3-margin" style="width: 33%">
                <header class="w3-container {{color}}" >
                  <h4>{{ user_data.user }}<span class="w3-tag w3-large w3-padding w3-red" style="transform:rotate(-5deg)">
                    Race {{race_id}}</span></h4>
                  </header>
                      {% for user_tips in user_data.records %}
                              <p><span class="w3-badge">{{ user_tips.horse_no }}</span>&nbsp {% trans user_tips.horse_name %} {% if user_tips.hit == 1 %}
                                <span class="w3-badge w3-red">P</span>
                              {% endif %}
                              </p>
                              <!-- Add more details as needed -->
                      {% endfor %}
                      <footer class="w3-container {{color}}">
                        <h5>{% trans "Place" %}</h5>
                      </footer>
              </div>
          {% endfor %}
      </div>
      <div class="w3-row-padding w3-margin">
        <h4>{% trans "Prediction Accracy" %}</h4>
        {% for score in user_scores %}
          {% cycle 'w3-blue' 'w3-green' 'w3-yellow' as color silent %}
          <div class="w3-light-grey">
          <div class=" {{ color }}" style="height:30px; width:{{ score.percentage }}%">&nbsp {{ score.user}}: <span class="w3-tag w3-large w3-red w3-round w3-border-white" style="transform:rotate(-5deg)">{{ score.percentage | floatformat:0 }}%</span></div>
          </div><br>
        {% endfor %}
     

       <!-- Add Tips by users-->


       <button id='myButton' onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-ripple w3-black" >+</button>&nbsp <- {% trans "Add Your Tips" %}
      
       <div id="id01" class="w3-modal">
      
       <div class="w3-modal-content">
          <div class="w3-center"><br>
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
             <img src="{% static 'Helpfultips.png' %}" alt="Avatar" style="width:10%" class="w3-circle">
            <h2>Race {{race_id}} Tips</h2>
          </div>
  
          <form method="post" action="{% url 'submit_tips' %}" class="w3-container w3-margin-left">
            {% csrf_token %}
          <h2>Select up to 3 horses:</h2>
            {% for i, r in current_race.iterrows %}
            <label>
                <input type="checkbox" name="selected_horses" value="{{ forloop.counter }}. {{ r.HorseName }}"
                     {% if r.HorseName in selected_horses %} checked {% endif %}
                     onclick="updateSelection(this)">
              {{ forloop.counter }}. {% trans r.HorseName %}
            </label><br>
        {% endfor %}
    
        <br>
           <button type="submit">Submit</button>
        </form>

        </div>
      </div>
    </div>



    <!-- JavaScript code -->
    <script>
      // Get the current date and time
      var currentDatetime = new Date("{{ current_datetime | date:'Y-m-d\TH:i:s' }}");
      
      // Define the start and end date and time for the period
      var startDate = new Date("2024-02-07T18:30:00");
      var endDate = new Date("2024-02-09T00:00:00");
    
      // Disable the button if the current date and time fall within the specified period
      if (currentDatetime >= startDate && currentDatetime < endDate) {
          //alert("Disabled");
          var myButton = document.getElementById("myButton");
          myButton.disabled = true;
          myButton.classList.add("disabled-button");
          document.getElementById("myButton").innerHTML = "X"; // Change the text
      }
      </script>

{% endblock %}
