{% extends "master.html" %}
{% block title %}世界足球比賽AI分析{% endblock %}
{% block content %}
{% load i18n %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<h1 class="w3-center">歐洲國家盃</h1>
<h3 class="w3-center">比賽日期：&nbsp;{{ combined_data.match.match_date }}</h3>
<canvas id="myRadarChart" width="400" height="400"></canvas>

{% with id=combined_data.match.id %}

{% if id %}
<div class="w3-container w3-padding-16" style="text-align: center;">
  {% if id|add:"-1" > 0 %}
      <a href="?id={{ id|add:'-1' }}"><button class="w3-button w3-black w3-padding-large w3-margin-bottom">上一場</button></a>
  {% else %}
      <a href="?id=1"><button class="w3-button w3-black w3-padding-large w3-margin-bottom">上一場</button></a>
  {% endif %}
  <a href="?id={{ id|add:'1' }}"><button class="w3-button w3-black w3-padding-large w3-margin-bottom">下一場 »</button></a>
</div>
{% endif %}
{% endwith %}
<table class="w3-table-all">
    <thead>
        <tr class="w3-black">
            <th>球隊</th>
            <th>分析角度</th>
            <th>分數</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="4">{% trans combined_data.team_a_info.team_name %}</td>
            <td>進攻</td>
            <td>{{ combined_data.team_a_info.attack_score }}</td>
        </tr>
        <tr>
            <td>防守</td>
            <td>{{ combined_data.team_a_info.defence_score }}</td>
        </tr>
        <tr>
            <td>策略</td>
            <td>{{ combined_data.team_a_info.strategy_score }}</td>
        </tr>
        <tr>
            <td>狀態</td>
            <td>{{ combined_data.team_a_info.perf_score }}</td>
        </tr>
        <!-- Repeat for Team B -->
        <tr>
            <td rowspan="4">{% trans combined_data.team_b_info.team_name %}</td>
            <td>進攻</td>
            <td>{{ combined_data.team_b_info.attack_score }}</td>
        </tr>
        <tr>
            <td>防守</td>
            <td>{{ combined_data.team_b_info.defence_score }}</td>
        </tr>
        <tr>
            <td>策略</td>
            <td>{{ combined_data.team_b_info.strategy_score }}</td>
        </tr>
        <tr>
            <td>狀態</td>
            <td>{{ combined_data.team_b_info.perf_score }}</td>
        </tr>
        <!-- Repeat for other score types (performance, etc.) -->
    </tbody>
</table>
{% with id=combined_data.match.id %}

{% if id %}
<div class="w3-container w3-padding-16" style="text-align: center;">
  {% if id|add:"-1" > 0 %}
      <a href="?id={{ id|add:'-1' }}"><button class="w3-button w3-black w3-padding-large w3-margin-bottom">上一場</button></a>
  {% else %}
      <a href="?id=1"><button class="w3-button w3-black w3-padding-large w3-margin-bottom">上一場</button></a>
  {% endif %}
  <a href="?id={{ id|add:'1' }}"><button class="w3-button w3-black w3-padding-large w3-margin-bottom">下一場 »</button></a>
</div>
{% endif %}
{% endwith %}

<script>
    const ctx = document.getElementById('myRadarChart').getContext('2d');
    const teamAInfo = "{{ combined_data.team_a_info }}";
    const teamBInfo = "{{ combined_data.team_b_info }}";
    const teamAScores = [
        "{{ combined_data.team_a_info.attack_score }}",
        "{{ combined_data.team_a_info.defence_score }}",
        "{{ combined_data.team_a_info.strategy_score }}",
        "{{ combined_data.team_a_info.perf_score }}",
        // Add other score types dynamically
    ];

    const teamBScores = [
        "{{ combined_data.team_b_info.attack_score }}",
        "{{ combined_data.team_b_info.defence_score }}",
        "{{ combined_data.team_b_info.strategy_score }}",
        "{{ combined_data.team_b_info.perf_score }}",
        // Add other score types dynamically
    ];
    const data = {
        labels: ['進攻', '防守', '策略', '狀態'],
        datasets: [
            {
                label: teamAInfo,
                data: teamAScores.map(score => parseFloat(score)), // Parse as numeric values
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgb(255, 99, 132)',
                borderWidth: 2,
            },
            {
                label: teamBInfo,
                data: teamBScores.map(score => parseFloat(score)), // Parse as numeric values
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgb(54, 162, 235)',
                borderWidth: 2,
            },
        ],
    };

    const config = {
        type: 'radar',
        data: data,
        options: {
            responsive: true,
            plugins: {
                title: {
                    display: true,
                    text: '實力分析圖',
                },
            },
            scales: {
                r: {
                    beginAtZero: false, // Ensure the scale starts from 0
                },
            },
        },
    };

    const myChart = new Chart(ctx, config);
</script>
{% endblock %}
