{% extends "master.html" %} {% block title %} 香港六合彩預測 {% endblock %} {% block content %}
{% block title %}預測六合彩走勢 - 下期開彩分析 | AI數據預測 | Marksix Lottory Trends Predictions - Accurate AI Tips for Today’s Marksix{% endblock %}
{% block description %}預測六合彩開獎號碼走勢，預測下期六合彩開獎結果，包括一號到六號，同特別號走走{% endblock %}
{% block keywords %}六合彩開獎預測, 預測, 六合彩開獎, 開獎結果，幸運號碼，特碼，特別號碼預測{% endblock %}
{% load i18n %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<style>
  .lottery-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }

  .lottery-header {
    text-align: center;
    margin-bottom: 20px;
  }

  .lottery-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }

  .lottery-chart {
    margin-bottom: 20px;
  }

  .lottery-footer {
    text-align: center;
    margin-top: 20px;
  }

  @media (max-width: 600px) {
    .lottery-buttons a {
      font-size: 12px;
      padding: 5px;
    }

    .lottery-chart canvas {
      width: 100% !important;
      height: auto !important;
    }
  }
</style>

<div class="lottery-container w3-card-4 w3-light-grey">
  <div class="lottery-header">
    <h2><img src="{% static 'HKFlag.png' %}" alt="Hong Kong" style="width:4%"> &nbsp; 六合彩號碼分組走勢</h2>
    <h5>下一期數： &nbsp;{{ next_draw }}</h5>
  </div>

  <div class="lottery-buttons">
    <a class="w3-button w3-large w3-circle {% if request.GET.id == '1' %}w3-red{% else %}w3-black{% endif %}" href="/lottory_predict/?id=1">1組</a>
    <a class="w3-button w3-large w3-circle {% if request.GET.id == '2' %}w3-red{% else %}w3-black{% endif %}" href="/lottory_predict/?id=2">2組</a>
    <a class="w3-button w3-large w3-circle {% if request.GET.id == '3' %}w3-red{% else %}w3-black{% endif %}" href="/lottory_predict/?id=3">3組</a>
    <a class="w3-button w3-large w3-circle {% if request.GET.id == '4' %}w3-red{% else %}w3-black{% endif %}" href="/lottory_predict/?id=4">4組</a>
    <a class="w3-button w3-large w3-circle {% if request.GET.id == '5' %}w3-red{% else %}w3-black{% endif %}" href="/lottory_predict/?id=5">5組</a>
    <a class="w3-button w3-large w3-circle {% if request.GET.id == '6' %}w3-red{% else %}w3-black{% endif %}" href="/lottory_predict/?id=6">6組</a>
    <a class="w3-button w3-large w3-circle {% if request.GET.id == '7' %}w3-red{% else %}w3-black{% endif %}" href="/lottory_predict/?id=7">特碼</a>
  </div>

  <div class="lottery-chart">
    <canvas id="myChart" width="450" height="250"></canvas>
  </div>

  <div class="w3-center">
    <h3>預測運財號碼 {{ request.GET.id }}：<a href="https://gleeglis.net/4/7158929"><img src="{% static 'no_' %}{{ next_number|stringformat:'d' }}.gif?CV=L4.07R2a" width="45"></a></h3>
    {% with id=request.GET.id|default:"1" %}
    {% if id %}
      <div class="w3-container w3-padding-16" style="text-align: center;">
        {% if id|add:"-1" > 0 %}
          <a href="?id={{ id|add:'-1' }}"><button class="w3-button w3-black w3-padding-large w3-margin-bottom"><<</button></a>
        {% else %}
          <a href="?id=1"><button class="w3-button w3-black w3-padding-large w3-margin-bottom"><<</button></a>
        {% endif %}
        {% if id|add:"1" > 7 %}
          <a href="?id=1"><button class="w3-button w3-black w3-padding-large w3-margin-bottom">>></button></a>
        {% else %}
          <a href="?id={{ id|add:'1' }}"><button class="w3-button w3-black w3-padding-large w3-margin-bottom">>></button></a>
        {% endif %}
      </div>
    {% endif %}
    {% endwith %}
    <a href="https://ragnolopi.net/4/7158525" class="w3-button w3-large"><i class="fa-solid fa-circle-arrow-right fa-xl" style="color: #f01000;"></i>&nbsp {% trans "Support Monkey" %}</a>
  </div>

</div>

<div class="w3-panel w3-card-4 w3-light-grey lottery-footer">
  <p class="w3-large w3-serif">
    <i class="fa fa-quote-right w3-xxlarge w3-text-red"></i><br>
    Monkey將過去開出的號碼分為七組，號碼1 就是最小的號碼，如此類推。跟住通過K-近鄰演算法，分析過去五百期的六合彩數字的走勢，預期下期會有大機會開出什麼號碼，最後，用紅色波波展示，就是模型預測的號碼。七幅走勢圖，預測七組號碼。我的YouTube Video有詳細介紹 <a href="https://youtu.be/FLtJb4WOl2A?si=VwqzG_sAqnbTmFtU"><i class="fa-brands fa-youtube fa-xl" style="color: #f10909;"></i></a>
  </p>
</div>

<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var labels = JSON.parse('{{ labels|safe }}');
  var recentNumbers = JSON.parse('{{ recent_numbers|safe }}');
  var nextNumber = JSON.parse('{{ next_number|safe }}');

  // Add the nextNumber to the recentNumbers array to connect the line
  recentNumbers.push(nextNumber);

  var chart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: labels,
      datasets: [{
        label: '開出號碼',
        data: recentNumbers,
        borderColor: 'blue',
        fill: true,
        pointBackgroundColor: ['blue', 'blue', 'blue', 'blue', 'blue', 'blue', 'blue','blue', 'blue', 'blue', 'red'],
        pointRadius: function(context) {
          var index = context.dataIndex;
          return index === context.dataset.data.length - 1 ? 20 : 10; // Double the radius for the last point
        },
        pointHoverRadius: function(context) {
          var index = context.dataIndex;
          return index === context.dataset.data.length - 1 ? 40 : 20; // Double the hover radius for the last point
        }
      }]
    },
    options: {
      layout: {
        padding: {
          right: 50 // Adjust the value as needed
        }
      },
      scales: {
        y: {
          beginAtZero: true
        },
        x: {
          title: {
            display: true,
            text: '期數'
          }
        }
      },
      elements: {
        point: {
          radius: 10,
          hoverRadius: 20
        }
      },
      plugins: {
        datalabels: {
          align: 'end',
          anchor: 'end',
          backgroundColor: 'white',
          borderRadius: 3,
          color: 'black',
          font: {
            weight: 'bold'
          },
          formatter: function(value, context) {
            return value;
          }
        }
      }
    },
    plugins: [ChartDataLabels]
  });
</script>

{% include "lotto_footer.html" %}
  
{% endblock %}
