{% extends "master.html" %} {% block title %}六合彩趨勢預測 {% endblock %} 
{% load i18n %}
{% load static %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <div class="w3-container">
       <h2><img src="{% static 'HKFlag.png' %}" alt="Hong Kong" style="width:4%"> &nbsp 三角形態--號碼走勢 </h2>
       <h5>下一期數： &nbsp;{{ next_draw }}</h5>
           <a class="w3-button w3-large w3-circle {% if request.GET.id == '1' %}w3-red{% else %}w3-black{% endif %}" href="/lotto_next_stat/?id=1">號碼1</a>
           <a class="w3-button w3-large w3-circle {% if request.GET.id == '2' %}w3-red{% else %}w3-black{% endif %}" href="/lotto_next_stat/?id=2">號碼2</a>
           <a class="w3-button w3-large w3-circle {% if request.GET.id == '3' %}w3-red{% else %}w3-black{% endif %}" href="/lotto_next_stat/?id=3">號碼3</a>
           <a class="w3-button w3-large w3-circle {% if request.GET.id == '4' %}w3-red{% else %}w3-black{% endif %}" href="/lotto_next_stat/?id=4">號碼4</a>
           <a class="w3-button w3-large w3-circle {% if request.GET.id == '5' %}w3-red{% else %}w3-black{% endif %}" href="/lotto_next_stat/?id=5">號碼5</a>
           <a class="w3-button w3-large w3-circle {% if request.GET.id == '6' %}w3-red{% else %}w3-black{% endif %}" href="/lotto_next_stat/?id=6">號碼6</a>
           <a class="w3-button w3-large w3-circle {% if request.GET.id == '7' %}w3-red{% else %}w3-black{% endif %}" href="/lotto_next_stat/?id=7">特碼</a>
    </div></h2>
    <div class="w3-panel w3-card-4 w3-light-grey" style="width:90%">
        <p class=" w3-large w3-serif">
        <i class="fa fa-quote-right w3-xxlarge w3-text-red"></i><br>
        Monkey將過去開出的號碼分為七組，號碼1 就是最小的號碼，如此類推。通過上三期的號碼，例如最小號碼3,9,7的組合和形態，在過去二千多期的六合彩紀錄中，有相同形態的記錄中，下一期通常會開出哪一個號碼，俾大家參考。七幅走勢圖，預測七組號碼。要留意，有時三角形態比較特的，未必有歷史記錄，所以會留空。</i></a></p>
      </div>
<div class="w3-row">
        <div class="w3-col w3-padding-top-32 l6 s12">
            
            <canvas id="myChart" width="300" height="200"></canvas>
            
            <script>
                // Get the data passed from the view
                var pastPattern = JSON.parse('{{ past_pattern|safe }}');
        
                // Create a line chart using Chart.js
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: ['前3期', '前2期', '前1期'],
                        datasets: [{
                            label: '前三期形態',
                            data: pastPattern,
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 3,
                            fill: false
                        }]
                    },
                    options: {
        layout: {
            padding: {
                right: 5 // Adjust the value as needed
            }
        },
          scales: {
              y: {
                  beginAtZero: true
              }
          },
          elements: {
              point: {
                  radius: 10,
                  hoverRadius: 20
              }
          }
      }
                });
            </script>

</div>

<div class="w3-col l6 s12  w3-padding-top-64">
{% if number_pairs %}
<table class="w3-table-all w3-hoverable">
    <thead>
        <tr class="w3-light-grey">
            <th>下期號碼</th>
            <th>出現次數</th>
        </tr>
    </thead>
    <tbody>
        {% for num, count in number_pairs %}
            <tr>
                <td><img src="{% static 'no_' %}{{ num|stringformat:'d' }}.gif?CV=L4.07R2a"></td>
                <td>{{ count }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    {% else %}
        <p>没有對應的形態！</p>
    {% endif %}
</div>
</div>

    {% with id=request.GET.id|default:"1" %}
    {% if id %}
        <div class="w3-container w3-padding-16" style="text-align: center;">
            {% if id|add:"-1" > 0 %}
                <a href="?id={{ id|add:'-1' }}"><button class="w3-button w3-black w3-padding-large w3-margin-bottom"><<</button></a>
            {% else %}
                <a href="?id=1"><button class="w3-button w3-black w3-padding-large w3-margin-bottom"><<</button></a>
            {% endif %}
            {% if id|add:"1" > 7 %}
                <a href="?id=1"><button class="w3-button w3-black w3-padding-large w3-margin-bottom">>></button></a>
            {% else %}
                <a href="?id={{ id|add:'1' }}"><button class="w3-button w3-black w3-padding-large w3-margin-bottom">>></button></a>
            {% endif %}
            </div>
    {% endif %}
{% endwith %}
<br>
<div class="w3-center">
    <a href="https://ragnolopi.net/4/7158525" class="w3-button w3-large"><i class="fa-solid fa-circle-arrow-right fa-xl" style="color: #f01000;"></i>&nbsp {% trans "Support Monkey" %}</a>
      </button>
</div>
<br><br>

</body>
<script>
    // Get the current date and time
    var currentDatetime = new Date("{{ current_datetime | date:'Y-m-d\TH:i:s' }}");
    // Define the start and end date and time for the period
    var startDate = new Date("2024-07-23T21:15:00");
    var endDate = new Date("2025-12-25T23:59:59");
 
    // Disable the button if the current date and time fall within the specified period
    if (currentDatetime >= startDate && currentDatetime < endDate) {
        var myButton = document.getElementById("myButton");
        myButton.disabled = true;
        myButton.classList.add("disabled-button");
        document.getElementById("myButton").innerHTML = "X"; // Change the text
        document.getElementById("msg001").innerHTML = '<i class="fa fa-hand-o-left fa-lg" aria-hidden="true"></i>&nbsp;{% trans "Not Open Yet" %}'
    }
    </script>




{% include "lotto_footer.html" %}

{% endblock %}