<footer class="w3-container w3-padding-32 w3-center w3-light-grey w3-margin-top"></footer>
  <h4>其他🎱六合彩功能</h4>
  <div class="w3-bar w3-light-grey">
    <a href="/lotto_trio" class="w3-bar-item w3-button w3-hover-light-blue">🤞值搏號碼</a>
    <a href="/lottory_predict/?id=1" class="w3-bar-item w3-button w3-hover-light-blue">📈走勢分析</a>
    <a href="/ichi_lotto/" class="w3-bar-item w3-button w3-hover-light-blue">㊙易卦預測</a>
    <a href="/lotto_must_win/1/" class="w3-bar-item w3-button w3-hover-light-blue">🀄️必中組合</a>
    <a href="/lotto_next_stat/?id=1" class="w3-bar-item w3-button w3-hover-light-blue">🔀形態統計</a>
    <a href="/lotto_test" class="w3-bar-item w3-button w3-hover-light-blue">🔎測試組合</a>
  </div>
  <p class="w3-small">© 2023 Monkey's Prediction. All rights reserved.</p>
  <p class="w3-small"><a href="/disclaimer">Disclaimer</a> | <a href="/privacy">Privacy Policy</a></p>
</footer>
