{% extends "master.html" %} 
{% block title %}賽馬預測 - 今日最新賽馬分析 | AI數據預測 | Horse Racing Predictions - Accurate AI Tips for Today’s Races{% endblock %}
{% block description %}AI賽馬預測，提供最新賽馬分析與投注策略，準確率高達45%。立即查看今日比賽預測！{% endblock %}
{% block keywords %}賽馬預測, 預測, 預測賽馬, 預測馬匹, 預測比賽, 預測比賽結果, 預測比賽贏家, 預測比賽馬匹{% endblock %}
{% load i18n %}
{% load static %}
{% block content %}


<div class="w3-container w3-padding-32"></div>
<div class="w3-margin ">
  <h2>{% trans "Horses Battle Chart"  %}  </h2>
  <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '1' %}w3-red{% else %}w3-black{% endif %}" href="/match_chart/?id=1">1</a>
  <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '2' %}w3-red{% else %}w3-black{% endif %}" href="/match_chart/?id=2">2</a>
  <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '3' %}w3-red{% else %}w3-black{% endif %}" href="/match_chart/?id=3">3</a>
  <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '4' %}w3-red{% else %}w3-black{% endif %}" href="/match_chart/?id=4">4</a>
  <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '5' %}w3-red{% else %}w3-black{% endif %}" href="/match_chart/?id=5">5</a>
  <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '6' %}w3-red{% else %}w3-black{% endif %}" href="/match_chart/?id=6">6</a>
  <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '7' %}w3-red{% else %}w3-black{% endif %}" href="/match_chart/?id=7">7</a>
  <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '8' %}w3-red{% else %}w3-black{% endif %}" href="/match_chart/?id=8">8</a>
  {% if total_race > 8 %}
    <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '9' %}w3-red{% else %}w3-black{% endif %}" href="/match_chart/?id=9">9</a>
    {% if total_race > 9 %}
      <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '10' %}w3-red{% else %}w3-black{% endif %}" href="/match_chart/?id=10">10</a>
      {% if total_race > 10 %}
        <a class="w3-button w3-xlarge w3-circle {% if request.GET.id == '11' %}w3-red{% else %}w3-black{% endif %}" href="/match_chart/?id=11">11</a>
      {% endif %}
    {% endif %}
  {% endif %}
  <div class="w3-card w3-margin w3-padding-64">
      <!-- Display desktop image -->
      <img class="w3-image" src="{% static 'horse_relationship' %}{{ race_id }}.png" alt="Lights">
    <!-- Add other content as needed -->
  </div>
</div>
<div class="w3-center"> 
  <button class="w3-button w3-sand w3-round w3-ripple w3-large" ><a href="https://glaultoa.com/4/7158508"><i class="fa-solid fa-heart" style="color: #f01000;"></i>{% trans "Support Monkey" %}</h5></a>
</button>
</div>
<script>
  // Get the URL parameters
  const urlParams = new URLSearchParams(window.location.search);
  
  // Check if the 'id' parameter is present and equals '1'
  const shouldLoadScript = urlParams.get('id') === '3' || urlParams.get('id') === '6';

  if (shouldLoadScript) {
      // Define a function to load the script
      function loadVendorScript() {
          var script = document.createElement('script');
          script.async = true;
          script.src = "//thubanoa.com/1?z=7235972";
          document.body.appendChild(script);
      }

      // Call the function to load the script
      loadVendorScript();
  }
</script>
{% endblock %}



